
.b-form {
  border-radius: 3px;
  padding: 55px;
  border: 1px solid #9e9393;
}

.b-form H2 {
  margin-bottom: 30px;
  letter-spacing: -2px;
}

.b-form input[type="text"] {
  height: 62px;
  padding: 25px 30px;
  border: 1px solid #9e9393;
  margin-bottom: 30px;
  font-size: 15px;
  width: 100%;
  border-radius: 3px;
  outline: none;
}

::-webkit-input-placeholder {
  color: #9e9393;
}
::-moz-placeholder {
  color: #9e9393;
}
:-ms-input-placeholder {
  color: #9e9393;
}
:-moz-placeholder {
  color: #9e9393;
}

.b-form label {
  @include f-main;
  display: inline-block;
}

.b-form input[type="checkbox"] {
  display: none;
}

.b-form input[type="checkbox"] + label {
  padding-left: 40px;
  position: relative;
}

.b-form input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: url('../images/screen-11/checkbox.png');
}

.b-form input[type="checkbox"]:checked + label::before {
  background: url('../images/screen-11/checkbox-checked.jpg');

}

.b-input_cover {
  margin-bottom: 18px;
  text-align: left;
}

.b-form .b-consultation input {
  margin-bottom: 0;
  width: 100%;
}

.b-input_cover.n1 {
  padding-right: 10px;
  margin-bottom: 0;
}

.b-input_cover.n2 {
  padding-left: 10px;
  margin-bottom: 0;
}