
.b-order_cover {
  border-radius: 3px;
  padding: 55px;
  border: 1px solid #9e9393;
}

.b-form H2 {
  margin-bottom: 30px;
  letter-spacing: -2px;
}

.b-form input[type="text"] {
  height: 62px;
  padding: 25px 30px;
  border: 1px solid #9e9393;
  font-size: 15px;
  width: 100%;
  border-radius: 3px;
  outline: none;
  transition: all 1s;
}

.b-form .b-input_text_cover.m-invalid input[type="text"] {
  border-color: #ef1616;
}

.b-input_hint {
  position: absolute;
  bottom: -18px;
  @include f-main;
  font-size: 12px;
  opacity: 0;
  transition: all 0.8s;
  line-height: 12px;
}

.b-input_text_cover {
  position: relative;
  margin-bottom: 30px;
}

.b-input_text_cover.m-invalid::after {
  @include pseudo;
  right: -25px;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  background: url("../images/hint.png");
}

.b-input_text_cover.m-invalid .b-input_hint {
  opacity: 1;
}

.b-form input[type="text"]:focus {
  border-color: $color-blue;
}

::-webkit-input-placeholder {
  color: #9e9393;
}
::-moz-placeholder {
  color: #9e9393;
}
:-ms-input-placeholder {
  color: #9e9393;
}
:-moz-placeholder {
  color: #9e9393;
}

.b-form label {
  @include f-main;
  display: inline-block;
}

.b-form input[type="checkbox"] {
  display: none;
}

.b-form input[type="checkbox"] + label {
  padding-left: 40px;
  position: relative;
}

.b-form input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background: url('../images/screen-11/checkbox.png');
}

.b-form input[type="checkbox"]:checked + label::before {
  background: url('../images/screen-11/checkbox-checked.jpg');

}

.b-input_cover {
  margin-bottom: 18px;
  text-align: left;
}

.b-form .b-consultation input {
  margin-bottom: 0;
  width: 100%;
}

.b-input_cover.n1 {
  padding-right: 10px;
  margin-bottom: 0;
}

.b-input_cover.n2 {
  padding-left: 10px;
  margin-bottom: 0;
}

.b-order_cover.m-success .b-order_success {
  opacity: 1;
  display: block;
}

.b-order_cover.m-success .b-form {
  display: none;
}

.b-order_success {
  display: none;
  opacity: 0;
  transition: opacity 0.8s;
}

.b-order_cover .b-order_success H2 {
  margin-bottom: 30px;
}


.b-order_success P {
  @include f-h3;
}
